pom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://maven.apache.org/POM/4.0.0">
    <xs:element name="project">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="modelVersion" type="xs:string" />
                <xs:element name="groupId" type="xs:string" />
                <xs:element name="artifactId" type="xs:string" />
                <xs:element name="version" type="xs:string" />
                <xs:element name="properties">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element name="project.build.sourceEncoding" type="xs:string" />
                            <xs:element name="maven.compiler.source" type="xs:string" />
                            <xs:element name="maven.compiler.target" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>